.table {
    tr {
        transition: all 0.2s;
        &.active{
            box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.46);
        }
        td {
            vertical-align: middle !important;
            img {
                max-height: unset;
            }
        }
    }
    .pre {
        white-space: pre;
    }
}